.table {
  border: 1px solid black;
  margin: auto;
}

/* .td {
  height: 50px;
  width: 50px;
  border: 1px solid black;
} */

.dead{
  height: 50px;
  width: 50px;
  border: 1px solid black;
  background-color: white;
}

.alive{
  height: 50px;
  width: 50px;
  border: 1px solid black;
  background-color: rgb(74, 19, 74);
}

.will-be-dead{
  height: 50px;
  width: 50px;
  border: 1px solid black;
  background-color: pink;
}
