body {
  display: flex;
}

.table {
  border: 1px solid black;
  margin: auto;
}

.cell {
  height: 40px;
  width: 40px;
}

.dead {
  border: 1px solid black;
  background-color: white;
}

.alive {
  border: 1px solid black;
  background-color: rgb(74, 19, 74);
}

.will_be_dead {
  border: 1px solid black;
  background-color: pink;
}

.will_be_alive {
  border: 1px solid black;
  background-color: yellow;
}
